<?xml version="1.0" encoding="UTF-8"?>

<included>

    <appender name="monitoringAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/monitoring.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/monitoring.log-%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}:%msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="monitoring">
        <level value="INFO"/>
        <appender-ref ref="monitoringAppender"/>
    </logger>

</included>
